@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
        
        
            <hr />
            <a class="nav-link text-lg-center" asp-area="" asp-controller="Employees" asp-action="Index"> EMPLOYEE     --- (click to begin)</a>
            <hr />
            <a class="nav-link text-lg-center" asp-area="" asp-controller="Customers" asp-action="Index"> CUSTOMER     --- (click to begin)</a>
        
        <img class="Garbage Direct" src="images/garbage.jpg" alt="Garbage Direct" width="900" />
    
    

</div>
