@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
        
        
           
        
        <img class="Garbage Direct" src="images/garbage.jpg" alt="Garbage Direct" width="900" />
    
    

</div>
